@model BookingSystem.Models.TableModel

@{
    ViewBag.Title = "Table Details";
}
<br />
<h2>Details</h2>

<div>
    <p class="lead">List of full table details</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TableNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TableCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableCapacity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TableId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
